@charset "utf-8";
/* CSS Document */
ul,li,p{
margin:0px;
padding:0px;
list-style:none;
}
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
a {
  color: #69aa6f;
  text-decoration: none;
}

body {
  font-size: 1.6rem;
  color: #2e3233;
  background-color: #f7f7f7;
  margin:0px;
padding:0px;
font-family:"calibri";
overflow-x: hidden;
}

img {
  /* make images responsive */
  max-width: 100%;
}

input {
  font-family: sans-serif;
  font-size: 1.6rem;
}

input[type="search"]::-ms-clear {
  /* removes close icon - IE */
  display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
@font-face{ 
font-family:"FranklinGothicMediumCondRegular";
src:url('../fonts/FranklinGothicMediumCondRegular.eot');
src:local('../fonts/FranklinGothicMediumCondRegular.eot'), url('../fonts/FranklinGothicMediumCondRegular.woff') format('woff'), url('../fonts/FranklinGothicMediumCondRegular.ttf') format('truetype'), url('../fonts/FranklinGothicMediumCondRegular.svg')format('svg');
}
@font-face {
font-family: 'Conv_BebasNeue';
src: url('../fonts/BebasNeue.eot');
src: local('../fonts/BebasNeue.eot'), url('../fonts/BebasNeue.woff') format('woff'), url('../fonts/BebasNeue.ttf') format('truetype'), url('../fonts/BebasNeue.svg') format('svg');
font-weight:normal;
}
@font-face{
font-family:"Conv_calibri";
src:url('../fonts/calibri.eot');
src:local('../fonts/calibri.eot'), url('../fonts/calibri.woff') format('woff'), url('../fonts/calibri.ttf') format('truetype'), url('../fonts/calibri.svg')format('svg');
}
@font-face {
font-family:'Conv_BebasNeueRegular';
src: url('../fonts/BebasNeueRegular.eot');
src: local('../fonts/BebasNeueRegular.eot'), url('../fonts/BebasNeueRegular.woff') format('woff'), url('../fonts/BebasNeueRegular.ttf') format('truetype'), url('../fonts/BebasNeueRegular.svg') format('svg');
font-weight: normal;
font-style: normal;
letter-spacing:1px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}